# Python
__pycache__/
.pytest_cache/

# Кэш pytest
.pytest_cache/

# Директории IDE
.vscode/

# Конфиденциальные файлы
.env
credentials.json
*.pickle

# База данных
*.db

# Временные файлы
*.log
*.tmp
*~